* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lora';
}
:root {
    --black-color: #2d2d2d;
    --purple-color: #a445ed;
    --gray-color: #757575;
    --large-text: 64px;
    --medium-text: 24px;
    --normal-text: 20px;
    --small-text: 18px;
    --very-small-text: 14px;
}
